h1 {
  font-family: "Pacifico", cursive;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 3rem;
  cursor: pointer;
  color: black;
  padding-bottom: 5px;
  background-image: linear-gradient(120deg, #dc3545 0%, #dc3545 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em; 
  background-position: 0 88%; 
  transition: background-size 0.3s ease;
}
h1:hover {
  background-size: 100% 1em; 
  color: #222;
}
.dotted-line {
  border: none;
  border-top: 3px dotted ;
  width: 90%;       
  margin: 10px auto;
}
h2{
  font-family: "Righteous", cursive;
  font-size: 25px;
  background: linear-gradient(to right, #8e44ad, #e91e63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 i {
  color: #dc3545; 
}
#submitBtn {
  background-color: #dc3545; 
  color: white;
  padding: 10px ;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
#submitBtn:hover {
  background-color: #b02a37;
  transform: scale(1.05); 
}






